/* ***** commons ***** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    background-color: #FFC0CB;
    height: 200px;
    text-align: center;
    line-height: 200px;
    border: 1px solid black;
}