/* ***** commons ***** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    background-color: #FFC0CB;
    min-height: 200px;
    border: 1px solid black;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box.nested {
    background-color: #F07F80;
    border: 1px solid #FFC0CB;
    min-height: 200px;
}