* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin-top: 50px
}

.box {
    height: 40px;
    width: calc(100% / 27);
}

.box:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.white {
    background-color: white;
}

.skin {
    background-color: #E4C597;
}

.shadow {
    background-color: #5C4536;
}

.lightblue {
    background-color: lightblue;
}

.yellow {
    background-color: yellow;
}

.grey {
    background-color: grey;
}

.lightgrey {
    background-color: lightgrey;
}